.results {
	display: flex;
	flex-direction: column;
	position: absolute;
	max-height: 200px;
	overflow: auto;
	box-shadow: 0 0 5px #0060a1;
	border-radius: 5px;
	text-align: left;
	background: #fff;
}

.results .possible {
	cursor: pointer;
	padding: 5px 10px;
}
.results .possible:first-child {
	border-radius: 5px 5px 0 0;
}
.results .possible:last-child {
	border-radius: 0 0 5px 5px;
}
.results .possible:hover {
	background: #007dc1;
	color: #fff;
}
.results .possible.focus {
	background: #007dc1;
	color: #fff;
}

.globalInput {
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: text;
	padding: 5px;
}
.globalInput ul {
	float: left;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}
.globalInput ul .tag {
	padding: 2px 4px;
	border-radius: 5px;
	background: #007dc1;
	color: #fff;
	margin: 2px;
}
.globalInput ul .tag span {
	margin-left: 5px;
	padding-left: 5px;
	cursor: pointer;
	border-left: 1px solid #fff;
	font-weight: bold;
}
.globalInput input[type="text"], .globalInput input[type="search"] {
	border: 1px solid transparent;
	width: 250px!important;
	float: left;
	padding-top: 4px;
	padding-left: 2px;
}
.globalInput input[type="text"]:focus, .globalInput input[type="search"]:focus {
	border: 1px solid transparent;
	box-shadow: none;
}
